@font-face {
    font-family: Beaufort;
    src: url(beaufortforlol-bold.otf);
  }

  @font-face {
    font-family: SpiegelBold;
    src: url(Spiegel-Bold.otf);
  }

  @font-face {
    font-family: Spiegel;
    src: url(Spiegel-Regular.otf);
  }

  @font-face {
    font-family: BeaufortMedium;
    src: url(BeaufortforLOL-Medium.ttf);
  }
  body {
    background-color: #01070e;
    font-family: Spiegel;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: 100vh;
    background-image: url(bg.png);
    background-size: cover;
    color: #ffffff; /* Light text color */
    animation: fadeInAnimation ease 1s;
    animation-fill-mode: forwards;
}
a{
  color: #c1b38a;
  transition: 0.15s;
}
a:hover {
  color: #efe5d1;
}
header{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  text-align: left;
}

.subheader{
display: flex;
justify-content: space-between;
margin-top: 10px;
margin-left: 100px;
margin-right: 100px;
align-items: center;
}

.butver {
  display: flex;
  align-items: center;
}

.butverchild {
  margin-left: 3px;
  margin-right: 3px;
}

.lolbutton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #1e2328; /* Button background color */
  color: #cdbe91; /* Button text color */
    border: 1px solid transparent;
    border-image: linear-gradient(#c3a464, #6b5028) 1;
  cursor: pointer;
  transition: 0.3s;
  width: 35px;
  padding: 3px;
}

.lolbutton:hover {
  background-color: #2a3540; /* Button background color on hover */
  border-image: linear-gradient(#fff868, #b3761c) 1;
  color: #ffffc8;
}
.version{
  color: #3c3c41;
  background-color: #010b14;
  padding: 5px;
  z-index: 1;
}

.icon {
  width: 25px;
  height: 25px;
  opacity: 0.7;
  transition: 0.15s;
}

.lolbutton:hover .icon { 
  opacity: 1;
} 



footer{
  color: #928e81;
  width: 100%;
  overflow: hidden;
  text-align: center;
  bottom: 0;
  margin: 20px;
}

.mode-changer{
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.mode {
  font-family: SpiegelBold;
  color: #a7be91;
  transition: 0.3s;
}

.mode:hover{
  color: #f0e6d2;
}

h1 {
    color: #cdbe91;
      font-family: Beaufort;
}
h2 {
  color: #f0e6d2;
  font-size: 21px;
  font-family: BeaufortMedium;
}
#container {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

label{
    color: #939b82; /* Light text color for input and button */
    border: none;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}

input, button {
    background-color: #1b2931; /* Dark input background color */
    color: #a3c7c7; /* Light text color for input and button */
    border: 2px solid #0596aa;
    padding: 8px;
    margin: 5px;
    width: 100%;
    transition: 0.2s;
    position: relative;
}

#button:hover {
    color: #e9e6d2;
    border: 2px solid #8de8e1;
    background-image: linear-gradient(#1b2931 0%, #133748 100%);
}

  /* Разделитель секций */
  .player-divider{
    border: 0.5px solid #434741a8;
    width: 100%;
  }

  .header-divider{
    border: 0.5px solid #434741a8;
    width: 100%;
    margin: 0px;
  }

.teamplayers {
    white-space: pre-line;
    color: #7f9b8c;
    display: none;
    opacity: 0;
    transition:
    opacity 0.15s,
    display 0.15s;
}
.teamname {
    margin-bottom: 10px;
    transition:
    opacity 0.15s,
    display 0.15s;
}
#redside{
    color: #ff2345;
    text-align: right;
}

#blueside{
    color: #09bdd6;
    text-align: left;
}



.teams {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
}

#tooltip {
    text-align: left;
    visibility: hidden;
    transition: visibility 0.3s,
    opacity 0.3s;
    opacity: 0;
    width: 600px; 
    background-color: #010a13;
    color: #928f82;
    /* Position the tooltip */
    position: absolute;
    padding: 10px;
    left: 0;
    bottom: -200%;
    z-index: 1;
    border: 1px solid #775a28;
  }
#team1, #team2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-weight: bold;
    width: 40%;
}
#team1players{
    text-align: left;
}

#team2players{
    text-align: right;
}

.teamname {
    display: none;
    opacity: 0;
}
.headerup {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0 100px;
}
.cr {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

textarea {
    outline: none;
    position: static;
    background-color: #060f19;
    width: 100%; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    color: #e5dbc9; /* Light text color for input and button */
    padding: 8px;
    margin: 5px;
    resize: none; /* Disable textarea resizing */
    transition: 0.2s; /* Add a transition for smooth color change */
    border-image: linear-gradient(#9f9a8b, #3d3d42) 1;    
}

textarea:focus {
    border-image: linear-gradient(#c7a96d, #7a5c29) 1;
    background: linear-gradient(#060f19, #161e25);  
}

.showing {
    opacity: 1;
    display: inline;
  }
  
  @starting-style {
    .showing {
      opacity: 0;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}